form {
    margin-top: 40px;
    width: 360px;
    border-radius: 6px;
    background-color: #f0f0f0;
    padding: 20px;
}

input {
    width: 100%;
    margin: 8px 0;
    border-radius: 5px;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
    -webkit-transition: .8s;
    transition: .8s;
    outline: none;
}

input[type=text]:hover, input[type=password]:hover {
    border: 2px solid #cccccc;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #9ce69d;
}

input[type=text][disabled], input[type=password]:disabled {
    color: #808080;
    background-color: #f7f7f7;
}

input[type=submit] {
    background-color: var(--main-green);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: var(--hoover-green);
}
